*{
    margin: 0;
    border: 0;
    padding: 0;
}
nav{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}    
#nomecurso{
    color: white;
    font-size: 30px;
    border: solid 5px lawngreen;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#meiodotopo a{
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: white;
}
#fimdotopo button{
    color: white;
    background-color: lawngreen;
    justify-content: left;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.banner img{
    width: 1519px;
    height: 500px;
}
.banner{
    display: inline-block;
    position: relative;
}
.banner h1{
    position: absolute;
    top: 145px;
    left: 220px;
    font-size: 40px;
    color: white;
}
.banner h3{
    position: absolute;
    top: 200px;
    left: 660px;
    font-size: 30px;
    color: white;
}
.banner button{
    position: absolute;
    top: 270px;
    left: 600px;
    font-size: 40px;
    color: white;
    background-color: lawngreen;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.vantagens{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}
.textvantagens{
    width: 500px;
    padding: 20px;
}
#primeira{
    justify-content: center
}
#primeira img{
    padding: 30px;
    border-radius: 450px;
    height: 100px;
}
#primeira h1{
    color: lawngreen;
    font-size: 30px;
}
#primeira p{
    font-size: 15px;
}
.altvantagens{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row-reverse;
}
#segunda{
    justify-content: center;
}
#segunda img{
    padding: 20px;
    border-radius: 2500px;
    height: 90px;
    width: 150px;
}
#segunda h1{
    color: lawngreen;
    font-size: 30px;
}
#segunda p{
    font-size: 15px;
}
#terceira{
    justify-content: center;
}
#terceira img{
    padding: 30px;
    border-radius: 500px;
    height: 100px;
    width: 180px;
}
#terceira h1{
    color: lawngreen;
    font-size: 30px;
}
#terceira p{
    font-size: 15px;
}
#textpromise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textpromise h1{
    color: lawngreen;
    font-size: 30px;
}
#textpromise h3{
    font-size: 20px;
}
#grid1{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:15px;
    margin-left: 250px;
    margin-top: 20px;
    justify-content: space-evenly;
    height: 600px;
}
.vants{
    width: 350px;
}
.vants h2{
    color: lawngreen;
    margin-left: 90px;
}
#vant1 h2{
    margin-left: 10px;
}
#vant2 h2{
    margin-left: 80px;
}
#vant1 img{
    height: 100px;
    border-radius: 600px;
    margin-left: 60px;
}
#vant2 img{
    height: 100px;
    margin-left: 90px;
}
#vant3 img{
    height: 100px;
    margin-left: 120px;
}
#vant4 img{
    height: 100px;
    margin-left: 90px;
}
#vant4 h2{
    margin-left: 20px;
}
#review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: dodgerblue;
    height: 600px;
}
#review h1{
    color: white;
}
#review p{
    color: white;
}
#reviewtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reviewtext h1{
    font-size: 35px;
}
#review p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
#pic1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pic1 img{
    height: 100px;
    border-radius: 100px;
    width: 100px;
}
#review1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#txtreview1{
    width: 500px;
    margin-left: 20px;
}
#txtreview1 img{
    height: 20px;
}
#pic2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pic2 img{
    height: 100px;
    border-radius: 100px;
    width: 100px;
}
#review2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
#txtreview2{
    width: 500px;
    margin-left: 20px;
}
#txtreview2 img{
    height: 20px;
}
#pic3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pic3 img{
    height: 100px;
    border-radius: 100px;
    width: 100px;
}
#review3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#txtreview3{
    width: 500px;
    margin-left: 20px;
}
#txtreview3 img{
    height: 20px;
}
#checklist{
    background-color: #007fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#txtcheck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cat{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
}
.categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    border: solid 1px black;
}
.categoria p{
    font-size: 15px;
}
#txtcheck h1{
    font-size: 35px;
}
#txtcheck p{
    font-size: 20px;
}
#forms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    height: 500px;
}
#txtforms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#txtforms h1{
    color: lawngreen;
}
#oforms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    height: 600px;
    width: 1000px;
}
#oforms input{
    background-color: antiquewhite;
}
#botao button{
    font-size: 40px;
    color: white;
    background-color: lawngreen;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
footer{
    background-color: #007fff;
}
footer img{
    height: 100px;
}